# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignores dataset, checkpoints and logs
*.jpg
*.pth
events.*
data/*
.ipynb_checkpoints
out

# add sample dataset
!data/background_samples
!data/silhouette_samples

.idea/
